* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  background: #040924;
}

body,
input,
button {
  font-size: 1.6rem;
  font-family: "Roboto";
}

.container {
  display: grid;
  height: 100vh;
  place-content: center;
}

.card {
  padding: 4.8rem 6.4rem 6.4rem;
  max-width: 42.8rem;
  background: white;
  margin-inline: auto;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

form {
  width: 30rem;
}

form .title {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4rem;
  margin-bottom: 3.2rem;
}

.input__wrapper + .input__wrapper {
  margin-top: 1.6rem;
}

form label {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.8rem;

  color: #00453a;

  display: block;
  margin-bottom: 0.8rem;
}

form input {
  width: 100%;
  padding: 1.6rem;
  background: #dce2e9;
  border: 1px solid rgba(73, 80, 87, 0.3);
  border-radius: 0.4rem;
}

form input:focus {
  outline: 2px solid #02799d;
}

form input::placeholder {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;

  color: rgba(73, 80, 87, 0.5);
}

form button {
  margin-top: 3.2rem;
  width: 100%;
  padding: 1.6rem;
  border: none;
  display: flex;
  gap: 0.8rem;
  justify-content: center;
  align-items: center;

  background: #02799d;
  border-radius: 0.4rem;

  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;
  color: #ffffff;

  cursor: pointer;
  transition: background 0.3s;
}

form button:hover {
  background: #025d79;
}

.modal__wrapper.open {
  opacity: 1;
  visibility: visible;
}

.modal__wrapper {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);

  display: grid;
  place-content: center;

  opacity: 0;
  visibility: hidden;
}

.modal {
  position: relative;
}

.modal button {
  border: none;
  background: none;
  cursor: pointer;

  position: absolute;
  top: 1.6rem;
  right: 1.6rem;

  transition: transform 0.3s;
}

.modal button:hover {
  transform: scale(1.1);
}

.alert__error.open {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.alert__error {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  background: #F03E3E;
  padding: .8rem 0;
  text-align: center;

  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;

  color: #FFFFFF;

  opacity: 0;
  visibility: hidden;

  transition: transform .5s;
  transform: translateY(-30px);

}
